.screenContainer {
    display: flex;
    flex-direction: column;

    width: 321px;
    height: 183px;

    border: solid 3px #2D2C27;
    border-radius: 11px;

    background-color: #F3F3F5;

    margin: 25px auto;
}
.screenContainer input {
    height: 50%;

    text-align: right;

    font-size: 94px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #2D2C27;

    background-color: #f3f3f500;

    border: none;

    margin: 0 24px;

    outline: none;

    cursor: default;
}